.material-checkbox
    background-position: 5px center
    background-size: 0px 28px
    background-repeat: no-repeat
    height: 40px
    line-height: 40px
    padding-left: 35px
    border-top: 1px solid lightgray
    border-bottom: 1px solid lightgray
    margin-top: -1px
    position: relative
