.material-switch
    position: relative
    min-height: 40px
    line-height: 40px
    border-top: 1px solid lightgray
    border-bottom: 1px solid lightgray
    margin-top: -1px

.material-switch-toggle
    position: absolute
    top: 50%
    right: 0px
    transform: translateY(-50%)
    width: 100px
    border: 1px solid lightgray

.material-switch-toggle > div
    height: 25px
    line-height: 25px
    font-size: 14px
    font-weight: bold

.material-switch-on
    width: 50px
    text-align: center
    background-color: $switchOnColor
    color: $switchOnTextColor

.material-switch-off
    width: 50%
    text-align: center
    background-color: $switchOffColor
    color: $switchOffTextColor
    margin-left: 50px
